.curved-div{
  /* background: rgb(0, 117, 60); */
  background: hsla(156, 100%, 74%, 1);
  color:white;
  text-align:center;
}
.section{
  position: relative;
  background-color: blue;
  color: rgb(221, 33, 33);
}
.custom-shape-divider-top-1687338181 {
position: absolute;
top: 0;
left: 0;
width: 100%;
overflow: hidden;
/* divne-height: 0; */
}
.footer{
position: absolute;
margin-top:35vh;
z-index: 1;
/* background:#c3eeb9; */
background: hsla(156, 100%, 74%, 1);
color: black;
display: flex;
width: 99.9vw;
font-size: 1.6rem;
font-weight: bolder;

}
.footer a{
text-decoration: none;
color: black;
font-size: 1.6rem;
font-weight: bolder;
}
.footer1{
  width: 33vw;
  /* color: blue; */
  padding-left:1vw ;
}
.footer2{
  width: 33vw;
  /* color: blue; */
}
.footer3{
  margin-top: -1.5vh;
  width: 53vw;

}
.indexAddressHead{
  font-size: 1.6rem;
  font-weight: bolder;
 
  }
  .indexAddress{
    font-size: 1.2rem;
    font-weight: bolder;

  }
  .copyright{
      position: absolute;
      width: 100vw;
      margin-top:70vh;
      /* background:#c3eeb9; */
      background: hsla(156, 100%, 74%, 1);
      color: black;
      font-size:1rem;
      text-align: center;
      
  }
