/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .BODY{
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
  font-family: 'Poppins', sans-serif;
  /* color: rgb(255, 0, 0); */
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%;
  /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
  object-fit: cover;
  z-index: -1;
  /* filter: brightness(50%); */
  /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}


.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.intro h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  color: black;
}

.intro p {
  font-size: 1.75rem;
  color: black;
}






.index_container{
display:flex;
  flex-wrap: wrap;
}

.button{
position:relative;
font-size:1em;
color: rgb(255, 255, 255);
/* background-color: rgb(0, 166, 30); */
background: linear-gradient(109deg, #8EE4AF,#5CDB95, #379683);
border: solid ;
border-radius: 10px;
width: 20vw;
height: 8vh;
margin: 10px 0px 10px 0px;
/* align-items: center; */
}
.barren{
margin-left:25%;
}
.modern1{
  
  margin-top: 55px;
  margin-left: 50px;
  display: none;
}
.modern2{

  /* margin-bottom: 10px; */
  margin-left: 50px;
  display: none;
}
.modern3{
 
  margin-top: -11px;
  margin-left: 50px;
  display: none;
}
._card {
  border-style: solid;
  border-color: #379683;
  border-width:5px;
  box-shadow: 0 4px 8px rgba(3, 246, 112, 0.2);
  transition: 0.35;
  width: 28%;
  margin: 30px 40px 40px 20px;
  border-radius: 50px;


}
._card123 {
  border-style: solid;
  border-color: #379683;
  border-width:5px;
  box-shadow: 0 4px 8px rgba(3, 246, 112, 0.2);
  transition: 0.35;
  width: 28%;
  margin: 30px 40px 40px 20px;
  border-radius: 50px;


}
._card123:hover .modern1  {
  /* box-shadow: 0 16px 32px 0 rgba(2, 255, 15, 0.2);
  cursor: pointer; */
  display: block;

}
._card123:hover .modern2  {
  /* box-shadow: 0 16px 32px 0 rgba(2, 255, 15, 0.2);
  cursor: pointer; */
  display: block;

}
._card123:hover .modern3  {
  /* box-shadow: 0 16px 32px 0 rgba(2, 255, 15, 0.2);
  cursor: pointer; */
  display: block;

}
._card1 {
  /* border-style: solid; */
  border-color: #379683;
  border-width:5px;
  box-shadow: 0 4px 8px rgba(78, 95, 250, 0.2);
  transition: 0.35;
  width: 45%;
  margin: 30px 40px 40px 20px;
  border-radius: 50px;

}

._card1:hover {
  box-shadow: 0 16px 32px 0 rgba(2, 255, 15, 0.2);
  cursor: pointer;
}

.card_container {
  padding: 2px 16px;
  
}
.home_heading{
font-size: 1.5rem;
font-weight: bold;
border-color: #379683;
padding-left: 10%;
text-align: justify;
}
.btnphoto{
/* display: inline-block; */
display: flex;


}
.global{
font-size: 2em;
font-weight: bolder;


}
.h61{
  font-size: 1rem;
  font-weight: bolder; 
}
.show_container{
font-size: 2em;
font-weight: bold;
}
.onebutton{
  display: flex;
}


.card_img{
  width: 100%;
  padding: 20px;
}

@media only screen and (max-width:320px){


  .m_container {
    flex-direction: column;
    flex-wrap:nowrap;
  }
  ._card {
   
    border-style: solid;
    border-color: #02870d;
    border-width:5px;
    box-shadow: 0 4px 8px rgba(3, 246, 112, 0.2);
    transition: 0.35;
    width: 100%;
    margin: 30px 40px 40px 20px;
    border-radius: 50px;
  
  
  }
  
  ._card:hover {
    box-shadow: 0 16px 32px 0 rgba(2, 255, 15, 0.2);
  }
  
  .card_container {
    padding: 2px 16px;
    
  }
 
 
  .btnphoto{
  /* display: inline-block; */
  display: flex;
  }
  .global{
  font-size: 2em;
  }
  .show_container{
  font-size: 2em;
  font-weight: bold;
  }
}




/* navbar at more than 800px */
@media (min-width: 800px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav1-main {
    max-width: 1170px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-bar {
    padding: 0;
  }

  .fa-bars {
    display: none;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a {
    padding: .5rem;
    margin: 0 .5rem;
    letter-spacing: 2px;
  }

  .menu a:hover {
    text-decoration-color: darkgreen;
  }

  .menu1 {
    height: auto;
    display: flex;
  }

  .menu1 a {
    padding: .5rem;
    margin: 0 .5rem;
    letter-spacing: 2px;
  }

  .menu1 a:hover {
    text-decoration-color: darkgreen;
  }
}
@media (max-width: 700px) {


  .intro-header {
    padding: 1.5rem 2rem;
  }

  .intro h1 {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1.25rem;
  }
}